.time_management_header{
    text-align: center;
}

.oboodieat_header{
    text-align: center;
}

.quran_verses_header{
    text-align: center;
}

.dua_header{
    text-align: center;
}
.dua_quran_image{
    width: 700px;
}
.elham_dua_image{
    width: 500px;
}
.dua_dar_zendegi_image{
    width: 500px;
}