
.dua_related ol{
    list-style: arabic-indic;
}
.esteghfar ol{
    list-style: arabic-indic;
}
.time_management_header{
    text-align: center;
}

.oboodieat_header{
    text-align: center;
}

.quran_verses_header{
    text-align: center;
}

.dua_header{
    text-align: center;
}
.dua_quran_image{
    width: 700px;
}
.elham_dua_image{
    width: 500px;
}
.dua_dar_zendegi_image{
    width: 500px;
}

.rq_body{
    line-height: 50px;
}
.reason{
    font-size: 23;
}
.aya{
    font-size: 18;
}
.subreason{
    font-size: 15;
}

.hadith{
    font-weight: bold;
}

.ref{
    font-size: 10;
}